<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Look At Me Now | <%= yield(:title) %></title> -->
  </head>
  <body><!-- style="margin:50px 0px 0px 0px;"> -->
    
    <div class="center hero-unit">
      <h1>Welcome to Radius Health</h1>
      <h2>
        This is the home page for the
        <a href="http://railstutorial.org/">radiushealth.com</a>
      </h2>
      <h2>Currently under construction</h2>
      <%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
    <div class="center">
      <%= link_to image_tag("Logo1.png", alt: "Radius Health", style: "height: 300px; width: 300px;"), 'http://rubyonrails.org/' %>
    </div>
  </body>
</html>