<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Look At Me Now | <%= yield(:title) %></title>
  </head>
  <body>
    <h1 style="text-align:center">I'm Actually Doing IT</h1>
    <h6 style="text-align:center">...again</h6>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>